.App {
 	text-align: center;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

/* These are all test variables which are subject to change */
input.my-input {
	border: 1px solid black;
	border-radius: 50px;
	padding-right: 10px;
	margin-left: 5px;
}

.my-button {
	border: 1px solid blue;
	background-color: white;
	padding-left: 10px;
	margin-left: 5px;
}

img.pokemon-image {
	margin-top: 20px;
	margin-bottom: 10px;
	/* border: 2px solid red; */
}

div.my-result {
	display: flex;
	flex-direction: column;
	margin: 30px 40px;
	/* border: 10px solid red; */
}

div.my-result img {
	/* border: 5px solid black; */
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	max-width: 80%;
	image-rendering: crisp-edges;
 }

div.my-result p {
	border: 5px solid green;
	/* margin-left: 5em; */
	margin: 0em 0em 0em 1.5em;
	padding: 0em 1em;
	font-size: larger;
	align-self: center;
}